toml
wheel
kombu
redis
validators
#web.py
web.py==0.40-dev1
regex
python-twitter
#twint
https://github.com/deeso/twint/tarball/deeso-handle-group-none#egg=twint
bs4
pymongo
requests
google-api-python-client
aiohttp_socks
https://github.com/deeso/ioc-regex/tarball/master#egg=ioc-regex
https://github.com/deeso/simple-pastebin-client/tarball/master#egg=simple-pastebin-client
