toml
wheel
kombu
redis
validators
#web.py
web.py==0.40-dev1
regex
python-twitter
twint
bs4
pymongo
requests
google-api-python-client
https://github.com/deeso/ioc-regex/tarball/master#egg=ioc-regex
https://github.com/deeso/simple-pastebin-client/tarball/master#egg=simple-pastebin-client
